:root {
  --white: white;
  --bg: lightgray;
  --border: darkgray;
  --active: lightblue;
  --active-f: aquamarine;
  --clickable: lightsteelblue;
  --clickable-f: steelblue;
  --success: lightgreen;
  --success-f: green;
  --warn: red;
}
html {background-color: var(--white); margin: 0 15%;}
strong {display: inline-block; border: 1px solid var(--border); border-bottom: 0; font-weight: normal;}
strong[name="popupShow"] {margin-top: 0.5em;}
h4 {margin: 0;}
ul {padding-bottom: 0.25em; border: 1px solid var(--border); border-top: 0; border-radius: 0 0 5px 5px;}
li {width: 50%; display: flex; padding-left: 5px; border-radius: 5px; transition: }
li:hover {background-color: var(--clickable);}
li + li {margin-top: 0.25em;}
label {margin: 0 5px; padding: 0 5px; border-radius: 5px;}
input.clickable {border: 1px solid var(--border); border-radius: 5px;}
#p_special {position: absolute; right: calc(15% + 0.5em); margin: calc(1em - 3px); font-style: normal; border: 1px solid var(--border); border-radius: 5px; }
#p_special img {margin: 2px; }
#p_overview {padding: 1em;}
#p_overview > div {padding: 0.5em 0.25em; border: 1px solid var(--border); border-radius: 0 5px 5px 5px;}
#error {border-bottom: 2px solid var(--bg); border-radius: 0 0 5px 5px; min-height: 5px;}
.p_nav {background-color: var(--bg); text-align: center;}
.p_title {text-align: center; background-color: var(--bg); font-weight: bold; padding: 1em; border-radius: 5px 5px 0 0;}
.p_title ~ div {border-left: 2px solid var(--bg); border-right: 2px solid var(--bg);}
.p_available {padding-top: 1em;}
.p_available label {display: inline-flex;}
.disabled {background-color: var(--bg);}
.hidden {visibility: hidden; display: none;}
.active {background-color: var(--active)!important; text-shadow:0px 0px 1px var(--border);}
.active:hover, .active:focus {background-color: var(--active-f)!important;}
.section_title {padding: 5px 5px 0 5px; border-radius: 5px 5px 0 0;}
.icon {vertical-align: text-top; border-radius: 5px; margin: 0 2px;}
.storage_display {position: absolute; width:15em; right: calc(15% - 1em); padding: 5px; background-color: var(--bg); top: calc(2em - 2px); border: 1px solid var(--border); border-radius: 0 0 5px 5px;}
.clickable {cursor: pointer; transition: all 0.5s ease;}
.clickable:not(.icon) {background-color: var(--clickable);}
.clickable:hover, .clickable:active {background-color: var(--clickable-f);}
.category-list {list-style: none; margin: 0;}
.flex-1 {flex: 1;}
.flex-10 {flex: 10;}
.text-center {text-align: center;}
.text-right {text-align: right;}
.math {padding: 2em 0;}
.math i {padding: 0 5px;}
.math select {text-align: center; border: 0; border-radius: 5px;}
.math, .result-list {margin: 0 1em;}
.result-list {width: fit-content;}
.result-list div {display: flex; padding-bottom: 0.5em; flex-wrap: wrap;}
.result-list label {margin-left: 5rem;}
.result-list input[type="button"] {margin-left: 1rem;}
.result-entry {cursor: alias!important; margin: 5px; padding: 5px; text-decoration: none; color: inherit; border-radius: 5px; flex-basis: calc(20% - 20px);}
.clicked {background-color: var(--success)!important;}
.clicked:hover, .clicked:active {background-color: var(--success-f)!important;}
.border-merge {border-bottom: 0!important; border-radius: 0 5px 0 0!important;}
.error {background-color: var(--warn); color: var(--white); padding: 5px;}